/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// QWERTY Layout
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E    |  R   |   T   |                                          |   Y   |  U    |  I    |  O   |   P   | BkSp |
// |  TAB  |  A  |  S  |  D    |  F   |   G   |                                          |   H   |  J    |  K    |  L   |   ;   |  '   |
// | SHIFT |  Z  |  X  |  C    |  V   |   B   | Lower | Raise |        | Raise | Lower |   N   |  M    |  ,    |  .   |   /   | SHFT |
//                     | LCTRL  | LGUI  | LALT |  SPACE | Enter |      |Dead Switch| Left | Down | Up  | Right |
			bindings = <
	&kp ESC  &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P          &kp BSPC
	&kp TAB  &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMICOLON  &kp APOSTROPHE
	&kp LSHFT  &kp Z &kp X &kp C &kp V &kp B  &tog LOWER &tog RAISE    &tog RAISE &tog LOWER &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	              &kp LCTRL &kp LGUI &kp LALT &kp SPACE &kp ENTER    &kp A &kp LEFT &kp DOWN &kp UP &kp RIGHT
			>;
//Keypresses Volume Down and Volume Up Left Encoder  |  Keypressess Backspace and Delete Right Encoder
			sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN &inc_dec_kp DEL BSPC>;
		};

		lower_layer {
// Navigation, Volume, and Numpad
// ---------------------------------------------------------------------------------------------------------------------------------
// |  NONE | PG UP | HOME       | ARROW UP | END        | *      |                                             |   /       |  7       |  8    |  9  |   BKSP   | CLEAR  |
// |  TAB  | PG DN | ARROW LEFT | ARROW DN | ARROW RHT  | +      |                                             |   -       |  4       |  5    |  6  |   NONE   |     =     |
// | SHIFT | VOL - | VOL +      | MUTE     | NONE       |  $     | Lower  | Raise |          |Raise| Lower |  KP_DOT   |  1       |  2    |  3  |     ,    |    Enter  |
//                              | TRANS    | TRANS      | TRANS  | SPACE  | enter|          | none |  none |   0       | KP_EQUAL | ????? |
			bindings = <
	&none    &kp PG_UP &kp HOME &kp UP &kp END &kp KP_MULTIPLY                                                  &kp KP_DIVIDE &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp BSPC &kp KP_CLEAR
	&kp TAB  &kp PG_DN &kp LEFT  &kp DOWN &kp RIGHT  &kp KP_PLUS                                                &kp KP_MINUS &kp KP_N4 &kp KP_N5 &kp KP_N6 &none &kp EQUAL
	&kp LSHFT &kp C_VOL_DN &kp C_VOL_UP  &kp C_MUTE  &none  &kp DLLR &tog LOWER &tog RAISE    &tog RAISE &tog LOWER  &kp KP_DOT  &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_COMMA &kp KP_ENTER
	                     &trans &trans &trans &trans &trans                                   &none &none &kp KP_N0 &kp KP_EQUAL &none
			>;
//Application controls Zoom In and Zoom Out Left Encoder |  Keypresses Backspace and Delete Right Encoder->CHANGED
			sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp DEL BSPC>; 
		};

		raise_layer {
// Number row and Punctuation
// ---------------------------------------------------------------------------------------------------------------------------------
// |  GRAVE  | NONE |  NONE | NONE | NONE |  (   |                                            |   )     | NONE  | NONE  | NONE | BKSP | DEL |
// |  CAPS  |  1 !  |  2 @  |  3 # | 4 $  |  5 % |                                            |   6 ^    |  7 & |  8 *  |  9 ( |  0 ) | \ |  |
// | SHIFT |  NONE  | NONE  | NONE | NONE |  $   | Lower  | Raise |        |Raise| Lower   |   PIPE  | MINUS |  LBKT | RBKT |  !   | SHFT |
//                     | TRANS | TRANS | TRANS   |SPACE  | enter|          | none | left |  down  | up |right|
			bindings = <
	&kp GRAVE &none &none &none &none &kp LPAR                                                             &kp RPAR &none &none &none  &kp BSPC &kp DEL
	&kp CAPS &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                                                               &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp BSLH
	&kp LSHFT &none &none &none &none &kp DLLR &tog LOWER &tog RAISE        &tog RAISE &tog LOWER &kp PIPE &kp MINUS &kp LBKT &kp RBKT &kp EXCL &kp RSHFT
	                   &trans &trans &trans &trans &trans                   &none &kp LEFT &kp DOWN &kp UP &kp RIGHT
			>;
//Media Controls Rewind and Fast Foward on Left Encoder | Application Controls Backward and Forward Right Encoder
			sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp UP DOWN>;
		};

		adjust_layer {
// Function row 
// ---------------------------------------------------------------------------------------------------------------------------------
// |  NONE |  F2  |  F3 |  F4  |  F5  |   F6   |                                            | F7 | F8  |  F9   |  F10  | F11 | NONE|
// |  TAB  |  F1  |  NONE | NONE | NONE | NONE |                                            | BT_SEL 0 | BT_SEL 1 | BT_SEL 2 | NONE | F12 | NONE |
// | SHIFT |  test key  |  NONE  | NONE | NONE | NONE |Lower| Raise |         |Raise| Lower | bt clr | none | bt prv | bt nxt | NONE | SHFT |
//                            | TRANS | TRANS | TRANS | test key | none |         | NONE |NONE | NONE | NONE |NONE|
			bindings = <
	&none &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                                   &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &none
	&kp TAB  &kp F1 &none  &none  &none &none                                      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none &kp F12 &none
	&kp LSHFT &none &none &none  &none &none &tog LOWER &tog RAISE   &tog RAISE &tog LOWER &bt BT_CLR &none &bt BT_PRV &bt BT_NXT &none &kp RSHFT
	              &trans &trans &trans &none &kp T                    &none &none &none &none &none
			>;
//Keypressess Arrow Left and Arrow Right  | Keypress Arrow Down and Arrow Up->CHANGED TO: Media Controls Rewind and Fast Foward on Left Encoder | Application Controls Backward and Forward Right Encoder
			sensor-bindings = <&inc_dec_kp C_FF C_RW &inc_dec_kp K_FORWARD K_BACK>;
		};
	};
};
